@font-face {
    font-family: 'PPMori-Regular';
    src: url('../fonts/PPMori-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPMori-SemiBold';
    src: url('../fonts/PPMori-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PPTelegraf-Regular';
    src: url('../fonts/PPTelegraf-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PPEditorialNew-Italic';
    src: url('../fonts/PPEditorialNew-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

p {
    margin:0;
}

/* .experiment-1.flip {
    transition: transform .5s;
    transform: rotateY(180deg);
} */

body {
    margin: 0;
    padding: 0;
  }
  
  ::selection {
    background-color: #5078F3; /* Change 'darkcyan' to your preferred color */
    /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background-color: #5078F3; /* Change 'darkcyan' to your preferred color */
  }


  
  
  



.video-container {
    position: fixed;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out; /* Add transition for filter */
    animation: slideUpBounce 0.75s cubic-bezier(0.22, 0.61, 0.36, 1); /* Define the slide-up animation with bounce and iOS smooth effect */
    top: 44%;
    right: 24%;
    transform: translateY(-45%);
    z-index: 9999;
    height: 433px;
    border-radius:32px;
    width: 200px;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}



.video-container.show {
    display: block;
    opacity: 1;
    animation: slideUpBounce 0.75s cubic-bezier(0.22, 0.61, 0.36, 1); /* Define the slide-up animation with bounce and iOS smooth effect */
    
}


.video-container video.small-screen {
    width: 200px !important; /* Or whatever width you desire for smaller screens */
    
    
}






/* Define the animation */
@keyframes fadeInBlur {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
  
  /* Apply the animation to the intro section */
  .portfolio-container {
    animation: fadeInBlur 3s ease-in-out forwards; /* Adjust the timing as needed */
  }

  


/* animations */





@keyframes slideUpBounce {
    0% {
        transform: translateY(-100%); /* Start from the bottom */
        scale: .2;
        border-radius: 99px;
        filter: blur(15px);
    }
    /* 60% {
        transform: translateY(-47%);
        scale: 1.05;
        border-radius: 50px;
    } */
    /* 80% {
        transform: translateY(-45%);
        scale: 0.98;
    } */
    100% {
        transform: translateY(-45%); /* End at the current position */
        scale: 1;
        border-radius: 32px; /* Corrected border-radius value */
        filter: blur(0);
    }
}









  
  .dim-all {
    opacity: 0.1;
    transition: opacity 0.3s;
    filter: blur(4px);
}




/* 
.highlight-item {
    background-color:red;
} */

/* animations for mouse in */

/* NOISE */ /* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE */
.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999999;
    opacity: 0.1;
}

@keyframes noise-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 500px;
    }
}

.noise-animate {
    animation: noise-animation 5s ease-in-out infinite;
}

/* NOISE */ /* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE *//* NOISE */

  





.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* 0.5s is the duration of the transition; you can change it */
}




  
  

body {
    /* background-color: #161717; */
    cursor: crosshair;
     background-color: #0d0d0d; 
}

.container {
    margin:0 auto;
}

.previous-experience {
    width:300px;
}

.emphasize {
    font-family: 'PPEditorialNew-ThinItalic';
}

.cofolios {
    background: #5078F3;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cofolios-resize {
    height:auto;
    width:300px;
    box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}


.curve {
    background: #FFE500;

}

.instagram {

background: linear-gradient(45deg, #F8D849 0%, #EE8131 33%, #EA336B 66%, #6E3BF1 100%);
background-position: center;
background-size: contain;
display: flex;
justify-content: center;
align-items: center;
}

.curve {
display: flex;
justify-content: center;
align-items: center;
}

.firstfloor {
    background: #403DFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstfloor-video {
    height:auto;
    border-radius: 24px;
    width: 240px;
    box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
}






.small-box {
    width: 350px;
    height: 700px;
    border-radius: 44px;
    cursor:alias;
    margin-top: 72px;
}

.big-box {
    width: 350px;
    height: 700px;
    border-radius: 44px;
    cursor:alias;
    margin-top: 72px;
}

.work-description {
    color:#7c7c83;
    font-family: 'PPMori-Regular';

}


.status-description {
    color:#7c7c83;
    margin-top: 4px;
}


.location-icon {
    margin-bottom:12px;
}

p {
    font-family: 'PPMori-Regular';
}

h1 {
    font-size: 44px;
    color:white;
    font-family: 'PPMori-SemiBold';
    font-weight: normal;
}




.prototype-1 {
    transform: rotate(-372deg);

    border-radius: 24px;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);

}

.prototype-2 {
    transform: rotate(15deg);
    border-radius: 24px;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);

}

.prototype-3 {
    transform: rotate(-350deg);
    border-radius: 24px;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);

}


.instagram-video {
    width:270px;
    height: auto;
    border-radius: 24px;
    box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
}



.portfolio-container {

    align-items: center;
    margin:0 auto;
    margin-top:70px;
    
}




/* maybe an animation plays when you first open the website */

.big-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:initial;
}

.job {
    color:white;
    margin-top: 24px;
    margin-bottom:16px;
    font-family: 'PPMori-Regular';
}


.hasque-status {
    color:white;
}

.iphone-holder {
    width:100px;
    height:auto;
}

nav {
    color:white;
}

.business-icon {
    width:20px;
    height: auto;
}


.location-icon {
    width:auto;
    height: 20px;
    
}


.experiment-1 {
    width:320px;
    height:auto;
    border-radius: 32px;
}

.experiment-container {
    display: flex;
    justify-content: center;
}


.intro-words {
    margin-bottom:132px;
    width: 330px;
    margin: 0 auto;
    margin-bottom: 72px;
}

 nav {
display: flex;
}


.digital {
    font-family: 'PPEditorialNew-Italic'; 
}

.list-item {
    color:white;
    display: flex;
    margin-bottom:32px;
    align-items: center;
    justify-content: space-between;
    font-family: 'PPEditorialNew-Italic';
    cursor: wait;
    transition:all .45s ease-in-out;
}

.number {
    color:#535355;
    font-size:24px;
}

.dividers {
    background:#202121;
    margin-bottom:32px;
    height:1px;
}


.section-title {
    color:white;
    font-family: 'PPMori-Regular';

}

.small-box-wrapper, .big-box-wrapper {
    /* ...existing properties... */
    opacity: 0; /* Initial state, hidden */
    transform: scale(0.8); /* Slightly scaled down */
    filter: blur(5px); /* Initially blurred */
    transition: opacity 1.5s cubic-bezier(.87,.14,.22,.9), 
                transform 1.5s cubic-bezier(.87,.14,.22,.9),
                filter 1.5s cubic-bezier(.87,.14,.22,.9); /* Bounce effect */
  }
  
  /* Class to be added when element is in view */
  .small-box-wrapper.animate-in, .big-box-wrapper.animate-in {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
  

  
  .title-description {
    width: 350px;
}
  
.list {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
}




.location {
    margin-top: 44px;
}

.experiments {
    font-family: 'PPMori-Regular';
}

@media (min-width:1200px) { 


    /* This styles the background of the scrollbar (track) */
::-webkit-scrollbar {
    width: 1px; /* You can adjust the width of the scrollbar here */
}

/* This styles the draggable scrolling handle (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #5078F3; /* Change 'darkcyan' to your preferred color */
    height:12px;
    border-radius: 99px; /* Optional: Adds rounded corners to the scrollbar thumb */
}

/* Optional: Styles the scrollbar track */
::-webkit-scrollbar-track {
    background: initial; /* Change 'lightgrey' to your preferred track color */
    border-radius: 0px;  /* Optional: Adds rounded corners to the scrollbar track */
}



.video-container {
    position: fixed;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out; /* Add transition for filter */
    animation: slideUpBounce 0.75s cubic-bezier(0.22, 0.61, 0.36, 1); /* Define the slide-up animation with bounce and iOS smooth effect */
    top: 48%;
    right: 10%;
    transform: translateY(-45%);
    z-index: 9999;
    height: 714px;
    border-radius:32px;
    width: 330px;
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
    
}



    .location {
        margin-top: initial;
    }


    .list {
        width:initial;
        display:initial;
        flex-direction:initial;
        justify-content:initial;
        margin: initial;
        font-size: initial;
    }
    

    .small-box {
        margin-top:initial;
    }

    .location {
        margin-left:72px;
    }


    .previous-experience {
        width: initial;
    }



    .work-description {
        margin-left:12px;
    }

    .experiments {
        margin-top:144px;
    }


    .list-item {
        color:white;
        font-size:72px;
        display: flex;
        margin-bottom:32px;
        align-items: center;
        justify-content: space-between;
        
    }




    .intro-words {
        padding-left:initial;
        display: flex;
        flex-direction: column;
        margin-bottom: initial;
        justify-content: space-between;
        width: initial;
        margin: initial;
    }

    .experiment-1 {
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
        
    }


    .experiment-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .iphone-holder {
        width:400px;
        height:auto;
        position: absolute;
        
    }
    

    .experiment-1 {
        width:350px;
        height:auto;
        border-radius: 32px;
    }


.instagram-video {
    width:250px;
}



    .big-box-wrapper {
        display: initial;
        }


        .small-box-wrapper {
            display: initial;
        }


    .hasque-status {
        display: flex;
        margin-top: 72px;
    }

    nav {
        display: flex;
        font-family: 'PPMori-Regular';

        justify-content: space-between;
    }


    .intro-section {
        display: flex;
        align-items: initial;
    }


    .cofolios-resize {
        height:auto;
        width:500px;
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
    }

    .firstfloor-video {
        height:auto;
        border-radius: 24px;
        width:227px;
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);

    }


    .prototype-1 {
        margin-top:94px;
        position: absolute;
    }


    .prototype-3 {
        transform: rotate(32deg);
    border-radius: 24px;
    position: absolute;
    margin-top: 680px;
    margin-left: -138px;
    }

    .prototype-2 {
        transform: rotate(-383deg);
    position: absolute;
    margin-top: 390px;
    margin-left: -8px;
    border-radius: 24px;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);
    }


    .intro-section {
        display: flex;
        align-items: initial;
        margin-bottom: 72px;
        margin-top:72px;
        justify-content: space-between;

    }



    .starter-videos {
        margin-right: 164px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1060px;
        width: 300px;
    }





    .title-description {
        display: flex;
        margin-top:24px;
        width:initial;
    }
    
    h1 {
        line-height: 124px;
        width:800px;
        font-size:106px;
        margin:0;
        
        
    }

    .portfolio-container {
        width:1200px;
        margin:0 auto;
        
    }

    .section-1 {
        margin-left:72px;
    }

    .section-2 {
        margin-left:72px;
    }


    .row2 {
        display: flex;
        margin-top:72px;
    }



    .projects {
        display: flex;
        flex-wrap: wrap;
            
        margin:0 auto;
    }



    .small-box {
        width:100%;
        height: 612px;
        
    }
    
    .big-box {
        width:100%;
        height: 612px;
        margin-top:initial;
    
    }
    
    
    
    /* hi-res laptops and desktops */ 






}


@media (min-width:1400px) { 

    .job {
        color:white;
        margin-top: initial;
        margin-bottom: initial;
    }
    


    .intro-words {
        display: flex;
        flex-direction: column;
        margin-bottom: initial;
        justify-content: space-between;
    }

    .experiment-1 {
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
        
    }


    .experiment-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .iphone-holder {
        width:400px;
        height:auto;
        position: absolute;
        
    }
    

    .experiment-1 {
        width:350px;
        height:auto;
        border-radius: 32px;
    }


.instagram-video {
    width:250px;
}



    .big-box-wrapper {
        display: initial;
        }


        .small-box-wrapper {
            display: initial;
        }


    .hasque-status {
        display: flex;
        margin-top: 72px;
    }

    nav {
        display: flex;
        font-family: 'PPMori-Regular';

        justify-content: space-between;
    }


    .intro-section {
        display: flex;
    }


    .cofolios-resize {
        height:auto;
        width:700px;
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
    }

    .firstfloor-video {
        height:auto;
        border-radius: 24px;
        width:227px;
        box-shadow: 0px 54px 60px 0px rgba(0, 0, 0, 0.25);

    }


    .prototype-1 {
        margin-top:94px;
        position: absolute;
    }


    .prototype-3 {
        transform: rotate(32deg);
    border-radius: 24px;
    position: absolute;
    margin-top: 680px;
    margin-left: -138px;
    }

    .prototype-2 {
        transform: rotate(-383deg);
    position: absolute;
    margin-top: 390px;
    margin-left: -8px;
    border-radius: 24px;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);
    }


    .intro-section {
        display: flex;
        align-items: initial;
        margin-bottom: 72px;
        margin-top:72px;
        justify-content: space-between;

    }



    .starter-videos {
        margin-right: 164px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1060px;
        width: 300px;
    }





    .title-description {
        display: flex;
        margin-top:24px;
    }
    
    h1 {
        line-height: 124px;
        width:800px;
        font-size:106px;
        margin:0;
        
        
    }

    .portfolio-container {
        width:1400px;
        margin:0 auto;
        
    }

    .section-1 {
        margin-left:72px;
    }

    .section-2 {
        margin-left:72px;
    }


    .row2 {
        display: flex;
        margin-top:72px;
    }



    .projects {
        display: flex;
        flex-wrap: wrap;
        width:1400px;
        margin:0 auto;
    }



    .small-box {
        width:491px;
        height: 612px;
        
    }
    
    .big-box {
        width:834px;
        
        height: 612px;
        
    
    }
    
    
    
    /* hi-res laptops and desktops */ 





}


